.DS_Store
.Desktop.settings
.OneOS.settings
*.settings

Desktop/.Desktop.settings

.version

*.settings

Desktop/.Desktop.settings

Programs/Quest

System/.OneOS.settings

System/.OneOS.settings

Changes

System/.fingerprint

dorelease
